{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'todolist/assets/css/index.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <!--header-->
        <div class="jumbotron">
            <div class="container">
              <h1 class="display-6">Fluid jumbotron</h1>
              <p class="lead">To do list app.</p>
            </div>
          </div>
        <!--end header-->

        <!--main app-->
        <div class="row">
            <div class="col-6 offset-2">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="what's in your mind?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Add to do</button>
                    </div>
                </div>
            </div>
            <div class="col-6 offset-2">
                <ul class="list-group cProductsList"> 
                    <li class="list-group-item d-flex justify-content-between"><p class="p-0 m-0 flex-grow-1">First item</p> 
                        <button class="btn-danger">DELETE</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between"><p class="p-0 m-0 flex-grow-1">Second item</p>  
                        <button class="btn-danger">DELETE</button>
                    </li> 
                </ul>
            </div>
        </div>
          
        <!--and main-->


    </div>
    <script src="{% static 'todolist/assets/js/jquery-3.4.1.js' %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{% static 'todolist/assets/js/popper.js' %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'todolist/assets/js/bootstrap.js' %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
</body>
</html>